## Setup

### Import libraries

In [2]:
import pandas as pd
import numpy as np

### Set library parameters

In [3]:
# Pandas display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)

### Import raw top abandoned vehicles file

In [4]:
df_plates_top = pd.read_csv('../data/abandoned-vehicles_top20.csv')
df_plates_top.head()

,Unnamed: 0,index,CaseID,Opened,Closed,Updated,Status,Status Notes,Responsible Agency,Category,Request Type,Request Details,Address,Street,Supervisor District,Neighborhood,Police District,Latitude,Longitude,Point,Source,Media URL,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods,:@computed_region_rxqg_mtj9,:@computed_region_yftq_j783,:@computed_region_jx4q_fizf,:@computed_region_bh8s_q3mv,:@computed_region_p5aj_wyqh,:@computed_region_fyvs_ahh9,:@computed_region_f58d_8dbm,:@computed_region_9dfj_4gjx,:@computed_region_vtsz_7cme,:@computed_region_n4xg_c4py,:@computed_region_sruu_94in,:@computed_region_4isq_27mq,:@computed_region_viu7_rrfi,:@computed_region_fcz8_est8,:@computed_region_pigm_ib2e,:@computed_region_9jxd_iqea,:@computed_region_6ezc_tdp2,:@computed_region_6pnf_4xz7,:@computed_region_h4ep_8xdi,:@computed_region_nqbw_i6c3,:@computed_region_2dwj_jsy4,:@computed_region_y6ts_4iup,Neighborhoods,Plate
0,0,1458949,6146916,2016-08-02 08:00:35,2016-08-05 07:51:15,2016-08-05 07:51:15,Closed,DPT Abandoned Vehicles- Gone on Arrival - 08/04/16 @1320 #211,DPT Abandoned Vehicles Work Queue,Abandoned Vehicle,Abandoned Vehicle -,white - Ford - Chinook RV - 4AHL026,"5526 DIAMOND HEIGHTS BLVD, SAN FRANCISCO, CA, 94131",DIAMOND HEIGHTS BLVD,8.0,Diamond Heights,INGLESIDE,37.739433,-122.436424,"(37.73943329, -122.43642426)",Web,NaN,57.0,9.0,5.0,10.0,5.0,2.0,4.0,63.0,7.0,7.0,7.0,NaN,57.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,57.0,4AHL026
1,1,2049493,6127602,2016-07-27 13:53:26,2016-08-04 06:14:28,2016-08-04 06:14:28,Closed,DPT Abandoned Vehicles- Gone on Arrival - 08/03/16 @1200 #211,DPT Abandoned Vehicles Work Queue,Abandoned Vehicle,Abandoned Vehicle - Other,Beige - Ford - Chinook - 4AHL026,Intersection of DIAMOND ST and BEACON ST,DIAMOND ST,8.0,Fairmount,INGLESIDE,37.742590,-122.435509,"(37.74259039, -122.43550878)",Phone,NaN,57.0,9.0,5.0,22.0,5.0,2.0,4.0,63.0,7.0,22.0,22.0,NaN,57.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,57.0,4AHL026
2,2,2050693,6124122,2016-07-26 16:02:36,2016-07-28 08:28:13,2016-07-28 08:28:13,Closed,DPT Abandoned Vehicles- Gone on Arrival - 07/27/16 @1330 #211,DPT Abandoned Vehicles Work Queue,Abandoned Vehicle,Abandoned Vehicle - Trailer,white - Ford - - 4ahl026,Intersection of CASTRO ST and 29TH ST,CASTRO ST,8.0,Noe Valley,INGLESIDE,37.743298,-122.433319,"(37.74329758, -122.43331909)",Web,NaN,84.0,9.0,5.0,22.0,5.0,2.0,4.0,63.0,7.0,22.0,22.0,NaN,84.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,84.0,4AHL026
3,3,1842645,6011353,2016-06-23 12:29:20,2016-06-28 07:57:23,2016-06-28 07:57:23,Closed,DPT Abandoned Vehicles- Gone on Arrival - GOA 6-27-16 @1132 #294,DPT Abandoned Vehicles Work Queue,Abandoned Vehicle,Abandoned Vehicle -,white - Ford - Premier E350 - 4AHL026,"395 ADDISON ST, SAN FRANCISCO, CA, 94131",ADDISON ST,8.0,Glen Park,INGLESIDE,37.739933,-122.435631,"(37.73993301, -122.4356308)",Web,NaN,96.0,9.0,5.0,10.0,5.0,2.0,4.0,63.0,7.0,7.0,7.0,NaN,96.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,96.0,4AHL026
4,4,1865076,5936034,2016-06-02 15:30:16,2016-06-06 06:04:35,2016-06-06 06:04:35,Closed,Case is a Duplicate - 06/03/06 DUPLICATE COMPLAINT SR #5929694,DPT Abandoned Vehicles Work Queue,Abandoned Vehicle,Abandoned Vehicle - Trailer,WHITE - CHINOOK - - 4AHL026,"720 CLIPPER ST, SAN FRANCISCO, CA, 94114",CLIPPER ST,8.0,Upper Market,MISSION,37.748047,-122.442680,"(37.74804688, -122.44268036)",Phone,NaN,51.0,3.0,5.0,22.0,5.0,2.0,7.0,63.0,4.0,22.0,22.0,NaN,51.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,51.0,4AHL026

In [5]:
plates = df_plates_top['Plate'].value_counts().sort_values(ascending=False)
plates.reset_index()

      index  Plate
0   4AHL026  146
1   3LXY721  115
2   6PUJ756  87
3   1RNW837  74
4   6PUK177  65
5   6XVM291  58
6   1PLM055  58
7   3XTE099  58
8   6SLZ243  56
9   7ZIB155  55
10  2GYE544  54
11  6AMP741  54
12  6MKG078  53
13  2JPU300  50
14  3EXG277  49
15  5HTH408  48
16  5NYL790  48
17  5PCJ006  47
18  4AIA248  46
19  7LSM393  44

### Deduplication

Manually examine the all calls for each license plate and make notes of which ones to remove. In this notebook, I will deduplicate plates 0-9

In [6]:
# Create a copy of the top repeat plates dataframe in preparation for removing duplicates
df_plates_top_clean = df_plates_top.copy()

In [7]:
plate = '4AHL026'
# Show all cases, sort by Opened date
df_plates_top[df_plates_top['Plate'] == plate].sort_values('Opened')
# Drop cases that were noted to be duplicates in the Status Notes of another case
# # Cases marked as duplicate, but corresponding cases were already eliminated so keep these
duplicates_keep = [142, 89, 39]
# # Cases marked as duplicate and refer to another case, so can be safely dropped
duplicates = [134, 116, 98, 90, 71, 70, 65, 61, 58, 53, 50, 41, 32, 28, 22, 4]
# # Interesting cases
notable_cases = [56]  # Interesting Status Note
df_plates_top_clean.drop(duplicates, inplace=True)

In [9]:
plate = '3LXY721'
df_plates_top[df_plates_top['Plate'] == plate].sort_values('Opened')
duplicates = [229,210]
notable_cases = [251,249,209,207,206,198,196,193,174,173,167,160,151,146]  # Interesting Status Note
df_plates_top_clean.drop(duplicates, inplace=True)

In [11]:
plate = '6PUJ756'
df_plates_top[df_plates_top['Plate'] == plate].sort_values('Opened')
duplicates_keep = [304,297,295,276]
duplicates = [339,332,316,310,298,280,274,273,268,265,261]
notable_cases = [344]
df_plates_top_clean.drop(duplicates, inplace=True)

In [13]:
plate = '1RNW837'
df_plates_top[df_plates_top['Plate'] == plate].sort_values('Opened')
duplicates_keep = [392,368]
duplicates = [418,399,393,373,]
notable_cases = [406,399,398,396,395,394,383,379,375,374,372,371,370,367,366,365,364,360,356,355,354,353,352,351,350,349,348]
df_plates_top_clean.drop(duplicates, inplace=True)

In [15]:
plate = '6PUK177'
df_plates_top[df_plates_top['Plate'] == plate].sort_values('Opened')
duplicates_keep = [444,441,440,437,434,431,428,424]
duplicates = [466,464,449,446,445]
notable_cases = [467,465]
df_plates_top_clean.drop(duplicates, inplace=True)

Notes on plate 6XVM291:
* Index 641, CaseID 2229606: Neighborhood dispute?
* Index 502, CaseID 6137331: case transferred to whom?

In [17]:
plate = '6XVM291'
df_plates_top[df_plates_top['Plate'] == plate].sort_values('Opened')
duplicates = [513,492]
notable_cases = [542,541,538,536,535,502]
df_plates_top_clean.drop(duplicates, inplace=True)

Notes on plate 1PLM055
* Index 547, CaseID 5491678: "NEIGHBOR DISPUTE"

In [19]:
plate = '1PLM055'
df_plates_top[df_plates_top['Plate'] == plate].sort_values('Opened')
duplicates = [601,592,570,567,563,562,548]
notable_cases = [596,595,594,590,587,584,571,563,559,556,554,547,546]
df_plates_top_clean.drop(duplicates, inplace=True)

Notes on plate 3XTE099
* I'm not confident this is an abandoned vehicle. A) it's a sedan and B) it's often reported to be at virtually the same address.

In [22]:
plate = '3XTE099'
df_plates_top[df_plates_top['Plate'] == plate].sort_values('Opened')
duplicates_keep = []
duplicates = [637]
notable_cases = [642,633,632,631,628,621,619,617,616,615,614,613,]
df_plates_top_clean.drop(duplicates, inplace=True)

In [28]:
plate = '6SLZ243'
df_plates_top[df_plates_top['Plate'] == plate].sort_values('Opened')
duplicates_keep = []
duplicates = []
notable_cases = [711,694,682]

In [27]:
plate = '7ZIB155'
df_plates_top[df_plates_top['Plate'] == plate].sort_values('Opened')
duplicates = [759,749,747,721,]
duplicates_keep = [769,762,752,751,749,719]
df_plates_top_clean.drop(duplicates, inplace=True)